<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Socials</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
    <h1><b>You can contact me on:</b> </h1>
    <li>telegram</li>
    <li>linkedIn</li>
    <li>twitter</li>
    <li>reddit</li>
    <li>instagram</li>
  <p>Username is <b>@karenmrdn</b> everywhere</p>
  </ion-card-content>
</ion-content>