<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Skills</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
    <h1><b>Programming languages:</b> </h1>
    <li>JavaScript</li>
    <li>C#</li>
    <li>Java</li>
    <li>PHP</li>

    <h1><b>Frameworks and libraries:</b> </h1>
    <li>React</li>
    <li>Redux</li>
    <li>ASP.NET CORE</li>
    <li>ASP.NET MVC</li>
  </ion-card-content>
</ion-content>